<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/airport(add)}"> Add Airport </a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Code </th>
                        <th scope="col"> Name </th>
                        <th scope="col"> City </th>
                        <th scope="col"> State Prov </th>
                        <th scope="col"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${airports.empty}">
                        <td colspan="2"> No Airports Available </td>
                    </tr>
                    <tr scope="row" th:each="airport : ${airports}">
                        <td><span th:text="${airport.code}"> Code </span></td>
                        <td><span th:text="${airport.name}"> Name </span></td>
                        <td><span th:text="${airport.city}"> City </span></td>
                        <td><span th:text="${airport.stateProv}"> State Prov</span></td>
                        <td><a class="btn btn-primary" href="#" th:href="@{/airport(edit,code=${airport.code})}"> Edit </a>
                        <a class="btn btn-warning" href="#" th:href="@{/airport(delete,code=${airport.code})}"> Delete </a></td>
                    </tr>                                                
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

