<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/flights/create}"> Add Flights </a>
            <a class="btn btn-primary" href="#" th:href="@{/flights/edit}" th:classappend="${flights.empty} ? 'disabled' : ''"> Edit Flights </a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Num </th>
                        <th scope="col"> Arrival </th>
                        <th scope="col"> Departure </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${flights.empty}">
                        <td colspan="2"> No Flights Available </td>
                    </tr>
                    <tr scope="row" th:each="flight : ${flights}">
                        <td><span th:text="${flight.flightNumber}"> Flight</span></td>
                        <td><span th:text="${flight.arrivalDateTime}"> Arrival</span></td>
                        <td><span th:text="${flight.departureDateTime}"> Departure </span></td>
                    </tr>
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

